<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<h1>Calculator</h1>
<form action="/calculate" method="post">
    <input type="number" name="a" required placeholder="Enter first number" />
    <input type="number" name="b" required placeholder="Enter second number" />
    <select name="operation">
        <option value="add">Add</option>
        <option value="subtract">Subtract</option>
        <option value="multiply">Multiply</option>
        <option value="divide">Divide</option>
        <option value="">Empty</option>
    </select>
    <button type="submit">Calculate</button>
    <button><a href="/metrics">View Metrics</a></button>
</form>
<div th:if="${error}" style="color:red;" th:text="${error}"></div>
<div th:if="${errors}" style="color:red;">
    <ul>
        <li th:each="error : ${errors}" th:text="${error.defaultMessage}"></li>
    </ul>
</div>
</body>
</html>